fastapi
uvicorn[standard]
sqlalchemy
requests
python-dotenv
passlib[bcrypt]
python-jose
alembic
pydantic[email]
pydantic-settings
fastapi-mail
python-multipart
bcrypt==4.0.1
twilio==8.0.0
psycopg2-binary==2.9.12